.nav-menu {
    display: flex;
    flex-direction: column;
    z-index: 50;
    justify-content: flex-end;
    background-color: black;
    padding: 1rem;
    color: white !important;
    cursor: pointer;
    position: fixed;
    top: 50%;
}

.menu-link {
    margin: 2rem 2rem;
    font-size: 20px;
}
