.nav-menu {
    display: flex;
    z-index: 50;
    justify-content: flex-end;
    background-color: $primary-color;
    padding: 1rem;
    color: $white-color !important;
    cursor: pointer;

    @media screen and (max-width: 1000px){
        margin: 0;
        padding: 0;
        top: unset;
        width: 100%;
    }
}

.menu-link {
    color: inherit;
    margin: 2rem 2rem;
    font-size: 20px;

    @media screen and (max-width: 1000px) {
        font-size: 15px;
    }
}

#menu-button {
    background-color: $primary-color;
    border: 0px;
    color: $white-color;
    outline: none;
}

.menu-title {
    display: block;
    font-size: $default-font-size;
}

.network-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }

  @media screen and (max-width: 1000px){
      display: none;
  }

}

