.nav-menu {
    display: flex;
    flex-direction: column;
    z-index: 50;
    justify-content: flex-end;
    background-color: $primary-color;
    padding: 1rem;
    color: $white-color !important;
    cursor: pointer;
    position: fixed;
    top: 50%;
    margin-left: 4rem;

    @media screen and (max-width: 1000px){
        margin: 0;
        padding: 0;
        top: unset;
        width: 100%;
    }
}

.menu-link {
    margin: 2rem 2rem;
    font-size: 20px;
}

#menu-button {
    background-color: $primary-color;
    border: 0px;
    color: $white-color;
}

.menu-title {
    display: block;
    font-size: $default-font-size;
}

