// Section
section {
  padding: 5rem 0rem;

  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.background {
    padding: 5em;
    background-color: $secondary-color;

    @media screen and (max-width: 1000px){
        padding: 2em;
    }
}

